<h1>Welcome! Please Log-in</h1>
<form action="/login" method="POST">
  Email: <input type="text" name="email">
  Password: <input type ="text" name="password">

  <input type="submit" value="Submit">
</form>
