A New Review:
<form action='/reviews' method="POST">
<h1> Title of review: <input type ="text" name="review[title]"></h1>
<h3> Content of review: <input type ="text" name="review[content]"></h1>
<h3> Score of review: <input type ="text" name="review[score]"></h1>

<input type="submit" value="Submit">
</form>
